# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
/apps/mobile/app.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/env.local
/.turbo/cache

/.turbo/preferences/tui.json

/packages/shared-types/node_modules/

# Sentry Config File
.env.sentry-build-plugin
